<!DOCTYPE html>
<html data-theme="cui">
  <head>
    <title>Velum v0.1 &bull; {{ title }}</title>
    <link rel="icon" href="{{ '/' | url }}src/img/favicon.svg" sizes="any" type="image/svg+xml" />

    <link href="{{ '/' | url }}src/css/velum.css" rel="stylesheet" type="text/css" />

    
  </head>
  <body>
    <header>
        <div>
          <h1>{{ heading }}</h1> 
          <p>{{ secondary }}</p>
        </div>
      
        
    </header>

    <main>
        <div class="columns">
            {% include 'nav.html' %}

            <article>{{ content }}</article>
        </div>
    </main>

    

    <footer class="pad-xl font-size-s gray-50 txt-gray-700">
      
      <div class="flex-row">
        
      </div>
      <div class="flex-row flex-justify-end flex-items-center">
        
       
          <a class="colophon mr-8" href="https://github.com/brendan-curative/velum2">
             <img src="{{ '/' | url }}src/img/github.png" alt="Velum github repo">
        </a> <span>Last modified: &nbsp; {{ page.inputPath | getGitCommitDateFromPath }}</span>
      </div>
    </footer>

    <button id="drawer-toggle" class="drawer-toggle" aria-label="Toggle drawer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ratio-icon lucide-ratio"><rect width="12" height="20" x="6" y="2" rx="2"/><rect width="20" height="12" x="2" y="6" rx="2"/></svg>
    </button>
    {% include 'components/drawer.html' %}

  <script src="{{ '/' | url }}src/js/drawer.js"></script>
  <script src="{{ '/' | url }}src/js/comments.js"></script>
  <script 
    data-repo="brendan-curative/velum2"
    data-issue-term="pathname"
    data-label="velum-comments"
    data-theme="github-light"
    crossorigin="anonymous">
  </script>
  
  <script>
// Prevent default behavior for links with href="#"
document.addEventListener('DOMContentLoaded', function() {
  document.addEventListener('click', function(event) {
    const link = event.target.closest('a[href="#"]');
    if (link) {
      event.preventDefault();
    }
  });
});
    </script>

  </body>
</html>
